p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.orangebox {
  padding: 1em;
  background: orange;
  color: blue;
  border: 2px solid blue;
  border-radius: 10px;
}
.graybox {
  padding: 1em;
  background: lightgray;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
}
.center {
  text-align: center;
}
.book .book-body .page-wrapper .page-inner {
  max-width: 90%;
}
